<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merdeka CTF</title>
    <meta name="author" content="Sirkel">
    <meta name="description" content="Simple web service using c++">
    <meta name="keywords" content="c++, web, webservice">
    <style>
      .container {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Service Error</h1>
      <p>Terjadi kesalahan dalam melakukan proses handle request</p>
    </div>

    <script>
      document.querySelector('.container').style.display = 'block';
    </script>

    <noscript>
      <h1>Enable JavaScript</h1>
      <p>JavaScript is required to run this application.</p>

      <span class="container">
        Hmn kek nya ada yang salah nih, coba cek lagi ya
        <br>
        Emang dimana mana semua nya itu harus ada tampilan nya ya?
      </span>
    </noscript>
  </body>
</html>