<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merdeka CTF</title>
    <meta name="author" content="Sirkel">
    <meta name="description" content="Simple web service using c++">
    <meta name="keywords" content="c++, web, webservice">
    <style>
      .container {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Merdeka CTF</h1>
      <p>Merdeka CTF is a simple web service using c++</p>
    </div>

    <script>
      document.querySelector('.container').style.display = 'block';
    </script>

    <noscript>
      <h1>Enable JavaScript</h1>
      <p>JavaScript is required to run this application.</p>

      <span class="container">
        Nyari flag nya? Coba cek di '/flag' ya
      </span>
    </noscript>
  </body>
</html>